section.first-parallax
    - for(let i=0; i<7; i++)
        .first-parallax__layer
            img.first-parallax__img(class=`first-parallax__img_${i}` src=`./assets/images/index-parallax/pl-${i}.png`)

