section.section.first-section
    header.first-section__header.header
        ul.header__socials.socials
            li.socials__item
                a.socials__link(href="#")
            li.socials__item
                a.socials__link(href="#")
            li.socials__item
                a.socials__link(href="#")
        .header__hamburger
    .first-section__bg-text
        svg.first-section__bg-img
            use(xlink:href='./assets/icons/svg/sprite.svg#portfolio_header')
    .first-section__person-card.person-card
        .person-card__avatar
        .person-card__name
        .person-card__text
    .first-section__arrow
    .first-section__angles
        .first-section__angle-block.first-section__angle-block_left
        .first-section__angle-block.first-section__angle-block_right
        