section.section.first-section
    header.first-section__header.header
        ul.header__socials.socials
            each item in ['vk', 'github', 'in']
                li.socials__item
                    a.socials__link(href="#")
                        svg.socials__img                            
                            use(xlink:href='./assets/icons/svg/symbols.svg#' + item)

        .header__hamburger.hamburger
            button.hamburger__button
                input(type="checkbox").hamburger__input
                each position in ['top', 'center', 'bottom']
                    //- .hamburger__block.hamburger__block_${position}
    .first-section__title
        svg.first-section__title-img
            use(xlink:href='./assets/icons/svg/symbols.svg#portfolio_header')
    .first-section__person-card.person-card
        .person-card__avatar
        .person-card__name
        .person-card__text
    .first-section__arrow
    .first-section__angles
        .first-section__angle-block.first-section__angle-block_left
        .first-section__angle-block.first-section__angle-block_right
        