footer.footer
        .footer__top
            ul.footer__nav.footer-nav
                li.footer-nav__item
                    a.footer-nav__link(href="#") Мои работы
                li.footer-nav__item
                    a.footer-nav__link(href="#") Обо мне
                li.footer-nav__item
                    a.footer-nav__link(href="#") Блог
                li.footer-nav__item
                    a.footer-nav__link(href="#") Авторизация
            ul.footer__socials.footer-socials
                li.footer-socials__item
                    a.footer-socials__link(href="#")
                li.footer-socials__item
                    a.footer-socials__link(href="#")
                li.footer-socials__item
                    a.footer-socials__link(href="#")
        .footer__bottom
            .footer__text.footer__text_left
            .footer__text.footer__text_right