nav.fullscreen-menu.visually-hidden
    ul.fullscreen-menu__list
        li.fullscreen-menu__item
            a.fullscreen-menu__link(href="my-works.html") Мои работы
        li.fullscreen-menu__item
            a.fullscreen-menu__link(href="about.html") Обо мне
        li.fullscreen-menu__item
            a.fullscreen-menu__link(href="blog.html") Блог
        li.fullscreen-menu__item
            a.fullscreen-menu__link(href="index.html") Авторизация
