section.index-parallax
    - for(let i=0; i<7; i++)
        .index-parallax__layer
            img.index-parallax__img(class=`index-parallax__img_${i}` src=`./assets/images/index-parallax/pl-${i}.png`)

