case page
    when 'about'
        script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA_yUTi58l8XW5WBptKG277S5GmZ835J0I&callback=initMap" async)
    when 'works'
        script(src="https://cdn.jsdelivr.net/npm/vue" defer)

script(src="./assets/scripts/bundle.js" defer)
