@mixin font-h1{
    text-transform: uppercase;
    font-family: 'bernier_regular';
    text-transform: uppercase;
    font-weight: normal;
    font-style: normal;
    font-size: 63px;
    color:$color-gray-dark;
    @include before-after-complete-dash;
}

@mixin font-h2{
    text-transform: uppercase;
    font-family: 'bernier_regular';
    text-transform: uppercase;
    font-weight: normal;
    font-style: normal;
    font-size: 35px;
    color:$color-text-gray;
    @include before-after-complete-dash;
}

@mixin before-after-dash ($left-percent){
    position: absolute;
    top: 50%;
    left: $left-percent;
    transform: translate(-50%, -50%);
    display: block;
    content:'';
    width:22px;
    height:6px;
    background-color:rgba($color-gray-dark, .2);
}

@mixin before-after-complete-dash{
    position: relative;

    &::before{
        @include before-after-dash(-20px);
    }

    &::after{
        @include before-after-dash(115%);
    }
}

@mixin bg-image ($img-url){
    background-image: url($img-url);
    background-position: center top;
    background-size: cover;
}

@mixin dis-fle-cen{
    display:flex;
    align-items: center;
    justify-content: center;
}

@mixin abs-center{
    position: absolute;
    left:50%;
    top:50%;
    transform:translate(-50%, -50%);
}