@mixin font-h1{
    text-transform: uppercase;
    font-family: 'bernier_regular';
    text-transform: uppercase;
    font-weight: normal;
    font-style: normal;
    font-size: 63px;
    color:$color-gray-dark;
    position: relative;
}

@mixin font-h2{
    text-transform: uppercase;
    font-family: 'bernier_regular';
    font-weight: normal;
    font-style: normal;
    font-size: 35px;
    color:$color-text-gray;
}

@mixin bg-image ($img-url){
    background-image: url($img-url);
    background-position: center top;
    background-size: cover;
}

@mixin dis-fle-cen{
    display:flex;
    align-items: center;
    justify-content: center;
}

@mixin abs-center{
    position: absolute;
    left:50%;
    top:50%;
    transform:translate(-50%, -50%);
}