@mixin font-h1($color){
    text-transform: uppercase;
    font-family: 'gagalin', 'Helvetica', sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 72px;
    color:$color;
}

@mixin before-after-dash ($left-percent){
    position: absolute;
    top: 50%;
    left: $left-percent;
    transform: translate(-50%, -50%);
    display: block;
    content:'';
    width:22px;
    height:6px;
    background-color:rgba(#373e42, .2);
}

@mixin before-after-complete-dash{
    position: relative;

    &::before{
        @include before-after-dash(-15%);
    }

    &::after{
        @include before-after-dash(115%);
    }
}