extends ../template

block title
    title Обо мне

block content
    section.section.second-section
        .second-section__aboute-me.aboute-me
            .aboute-me.aboute-me__avatar
        .second-section__my-benefits.my-benefits
    section.section.last-section
        .last-section__map
        .last-section__contacts





