extends ../template

block title
    title Обо мне

block content
    section.section.second-section
        .second-section__left.aboute-me
            .about-me__title 
                h1 Обо мне
                svg.about-me__title-img
                    use(xlink:href='./assets/icons/svg/symbols.svg#about_header')
            .aboute-me__avatar
                img.about-me__avatar-img.visually-hidden(src='./assets/images/person-card/155312-600.jpg')
            .about-me__subtitle Кто я
            .about-me__text
                p.
                    Я веб разработчик из Новосибирска. Мне 27 лет. 
                    Я занимаюсь разработкой современных сайтов 
                    и приложений. Мне нравится делать интересные 
                    и современные проекты.
                p.
                    Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите,
                    как тут всё классно и красиво!
        
        .second-section__right.my-benefits
            .my-benefits__title Чем я могу быть вам полезен
            .my-benefits__text
                p.
                    Больше всего меня привлекет Frontend разработка, но я также знаком 
                    и могу решать не сложные задачи на Backend. Но давайте по порядку.
            ul.my-benefits__charts
                each direction in ['Frontend', 'Backend', 'WorkFlow']
                    li.my-benefits__direction #{direction}
                        ul.my-benefits__technologies
                            case direction
                                when 'Frontend'
                                    each technology in ['HTML5', 'CSS3', 'JavaScript & jQuery']
                                        li.my-benefits__technology #{technology}
                                when 'Backend'
                                    each technology in ['PHP', 'mySQL', 'Node.js & npm', 'Mongo.db']
                                        li.my-benefits__technology #{technology}
                                when 'WorkFlow'
                                    each technology in ['Git', 'Gulp', 'Bower']
                                        li.my-benefits__technology #{technology}


    section.section.last-section
        .last-section__map
        .last-section__contacts





