extends ../template 

block title
    title Блог
    - var page = 'blog'

block content
    section.blog-section
        sidebar.blog-section__left            
            ul.article-names                
                li.article-names__item.article-names__item_active(data-title="The most importent in SASS")
                    a.article-names__link(href="#") Самое важное в SASS
                li.article-names__item(data-title="A methods of layout")
                    a.article-names__link(href="#") Приемы верстки, без которых не обходится ни один сайт
                li.article-names__item(data-title="The most necessary GULP plugins")
                    a.article-names__link(href="#") Самый необходимый набор Gulp плагинов
                li.article-names__item(data-title="Why i chose PUG")
                    a.article-names__link(href="#") Почему я выбрал Pug

        main.blog-section__right
            ul.papers
                li.papers__item.article(data-title="The most importent in SASS")
                    .article__title Самое важное в SASS
                    .article__date 22 ноября 2017
                    .article__text
                        p.
                          Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                        p.
                          Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
                li.papers__item.article.visually-hidden(data-title="A methods of layout")
                    .article__title Приемы верстки, без которых не обходится ни один сайт
                    .article__date 22 ноября 2017
                    .article__text
                        p.
                          Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                        p.
                          Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
                li.papers__item.article.visually-hidden(data-title="The most necessary GULP plugins")
                    .article__title Самый необходимый набор Gulp плагинов
                    .article__date 22 ноября 2017
                    .article__text
                        p.
                          Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                        p.
                          Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
                li.papers__item.article.visually-hidden(data-title="Why i chose PUG")
                    .article__title Почему я выбрал Pug
                    .article__date 22 ноября 2017
                    .article__text
                        p.
                          Таким образом начало повседневной работы по формированию позиции позволяет выполнять важные задания по разработке направлений прогрессивного развития. Разнообразный и богатый опыт новая модель организационной деятельности играет важную роль в формировании новых предложений. Товарищи! новая модель организационной деятельности играет важную роль в формировании систем массового участия.
                        p.
                          Не следует, однако забывать, что укрепление и развитие структуры обеспечивает широкому кругу (специалистов) участие в формировании систем массового участия. Идейные соображения высшего порядка, а также рамки и место обучения кадров обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач. Товарищи! постоянный количественный рост и сфера нашей активности способствует подготовки и реализации модели развития. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации системы обучения кадров, соответствует насущным потребностям.
        
                
