extends ../template 
block title
    title Добро пожаловать
    - var page = 'index'
block first-section
block content
    block parallax
        include ../common/index-parallax
    section.index-section
        .index-section__top
            button.index-section__auth-btn(type="button") Авторизоваться
        .index-section__center.index-panel
            .index-panel__top
                .index-panel__person-card
                    block person-card
                        include ../common/person-card
                block socials
                    include ../common/socials
            .index-panel__bottom
                a.index-panel__btn.index-panel__btn_my-works(href="my-works.html") Мои работы
                a.index-panel__btn.index-panel__btn_about-me(href="about.html") Обо мне
                a.index-panel__btn.index-panel__btn_blog(href="blog.html") Блог
        .index-section__bottom © Суров Константин | создано с любовью в LoftSchool | 2017
