extends ../template 

block title
    title Мои работы
    - var page = 'my-works'
block content
    section.my-works__second-section.my-works-second-section
        .my-works-second-section__title
            svg.my-works-second-section__title-bg
                use(xlink:href="./assets/icons/svg/symbols.svg#works_header")
            .my-works-second-section__title-text Мои работы
        .my-works-second-section__projects
            ul.projects
                - var school = ['Сайт школы онлайн образования', 'HTML, CSS, JavaScript', '#', './assets/images/project-slider/school.png', 'active']
                - var yoga = ['Сайт школы онлайн образования', 'HTML, CSS, JavaScript', '#', './assets/images/project-slider/yoga.png', 'visually-hidden']
                - var design = ['Сайт школы онлайн образования', 'HTML, CSS, JavaScript', '#', './assets/images/project-slider/design.png', 'visually-hidden']
                each slide in [school, yoga, design]
                    li.projects__item(class= slide[4])
                        .projects__description.project-description
                            .project-description__title #{slide[0]}
                            .project-description__technologies #{slide[1]}
                            a.project-description__link(href="" +slide[2]) Посмотреть сайт
                                svg.project-description__link-icon
                                    use(xlink:href="./assets/icons/svg/symbols.svg#link")
                        .projects__slider.project-slider
                            img.project-slider__picture(src="" + slide[3])
                            .project-slider__controls
                                a.project-slider__button.project-slider__button_prev(href="#")
                                    img.project-slider__img(src="" +yoga[3])
                                    .project-slider__filter.project-slider__filter_prev
                                        svg.project-slider__button-arrow.project-slider__button-arrow_down
                                            use(xlink:href="./assets/icons/svg/symbols.svg#portf_arrow_down")
                                a.project-slider__button.project-slider__button_next(href="#")
                                    img.project-slider__img(src="" +design[3])
                                    .project-slider__filter.project-slider__filter_next
                                        svg.project-slider__button-arrow.project-slider__button-arrow_up
                                            use(xlink:href="./assets/icons/svg/symbols.svg#portf_arrow_up")

    section.last-section.my-works__last-section.my-works-last-section
        .my-works-last-section__title Что обо мне говорят
            svg.my-works-last-section__title-bg
                use(xlink:href="./assets/icons/svg/symbols.svg#about_header")
        .my-works-last-section__reviews
            ul.reviews
                li.reviews__item
                    i(class="fa fa-quote-left fa-3x" aria-hidden="true")
                    p.
                        Этот парень проходил обучение веб-разработке 
                        не где-то, а в LoftSchool! 5 месяцев только самых 
                        тяжелых испытаний и бессонных ночей!
                    .reviews__user.review-user
                        .review-user__avatar
                            img.review-user__avatar-img(src="./assets/images/reviews/kovalchuk.png")
                        .review-user__about
                            .review-user__name Ковальчук Дмитрий
                            .review-user__position основатель Loftschool

            
                li.reviews__item
                    i(class="fa fa-quote-left fa-3x" aria-hidden="true")
                    p.
                        Этот код выдержит любые испытания. Только 
                        пожалуйста, не загружается сайт на слишком 
                        старых браузерах!
                    .reviews__user.review-user
                        .review-user__avatar
                            img.review-user__avatar-img(src="./assets/images/reviews/sabantsev.png")
                        .review-user__about
                            .review-user__name Сабанцев Владимир
                            .review-user__position преподаватель
        .my-works-last-section__form.blur-effect
            form.my-works-last-section-form
                .my-works-last-section-form__wrapper.object
                    .my-works-last-section-form__inputs
                        .my-works-last-section-form__title Связаться со мной
                        input.my-works-last-section-form__name(type="text")
                        input.my-works-last-section-form__email(type="email")
                        textarea.my-works-last-section-form__comment
                    .my-works-last-section-form__controls
                        input.my-works-last-section-form__btn.my-works-last-section-form__btn_submit(type="submit" value="Отправить")
                        input.my-works-last-section-form__btn.my-works-last-section-form__btn_reset(type="reset" value="Очистить")
        a.my-works-last-section__arrow(href="#")
            svg.my-works-last-section__arrow-up
                use(xlink:href="./assets/icons/svg/symbols.svg#portf_arrow_up")

        