.first-section{
    // @include bg-image('../images/bg-top/bg-1200.jpg');
    display:flex;
    flex-flow:column;
    justify-content: space-between;

    @include tv{
        // background-image:url('../images/bg-top/bg-1800.jpg');
    }
    @include tablets{
        // background-image:url('../images/bg-top/bg-768.jpg');
    }
    @include iphone{
        // background-image:url('../images/bg-top/bg-320.jpg');
    }
}

.first-section__header{
    height: 32*2+22px;
    display:flex;
    justify-content: space-between;
}

.first-section__angles{
    height: 160px;
    display:flex;
    margin-bottom: -1px;

    @include b-tablets{
        height: 66px;
    }

    @include iphone{
        height:28px;
    }
}

.first-section__angle-block{
    width:50%;
    height:100%; 

    &_left{
        background-color:$color-left-side;
        clip-path: polygon(0 0, 0 100%, 100% 100%);
    }

    &_right{
        background-color:$color-right-side;
        clip-path: polygon(100% 0, 0 100%, 100% 100%);
    }
}

.works .first-section__angle-block{
    background-color:#faf8f0;
}

.blog .first-section__angle-block{
    background-color:white;
}


.first-section__title{
    text-align:center;
}

.first-section__title-img{
    width: 1175px;
    height: 313px;
    fill: white;
    fill-opacity: .06;
}

.first-section__arrow{
    position:absolute;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    bottom:70px;
}

.first-section__arrow-img{
    width:26px;
    height:16px;
    fill:white;
    fill-opacity: .7;
    
    &:hover{
        fill-opacity: 1;
    }
}

.first-section__person-card{
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
}