.footer{
    height:148px;
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    background-color: rgba(#373e42, .85);

    @include tablets{
        height: 210px;
    }

    @include phones{
        height:260px;
    }
}

.footer__part{
    height:50%;
    padding: 0 30px;
    display:flex;

    @include tablets{
        flex-flow:column;
        justify-content: center;
    }
}

.footer__top{
    border-bottom:1px solid #666c6e;
    justify-content: space-between;
    align-content: center;

    @include tablets{
        justify-content: space-around;
    }
}

.footer-nav{
    @include dis-fle-cen;
}

.footer-nav__item{
    margin-right: 40px;
    display: flex;

    &:hover{
        text-decoration: underline;
    }

    &:last-child{
        margin-right: 0;
    }

    @include phones{
        margin-right:10px;        
    }
}

.footer-nav__link{
    text-decoration: none;
    color:white;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.footer-nav{
    display: flex;

}

.footer-socials{
    display:flex;
    justify-content: flex-end;
    align-items: center;

    @include tablets{
        justify-content: center;
    }
}

.footer-socials__item{
    @include dis-fle-cen;
    height:calc(38*1px);
    width:calc(38*1px);
    border-radius:50%;
    border: 1px solid rgba(white, .5);
    margin-left: 10px;
}

.footer-socials__img{
    height:calc(40*1px);
    width:calc(40*1px);
    fill: white;
}


.footer-socials__img use:nth-child(1){
    fill-opacity: .5;
}

.footer-socials__img use:nth-child(2){
    fill-opacity: 0;
}

.footer-socials__img:hover{
    use:nth-child(2){
        fill-opacity: 1;
    }

    use:nth-child(1){
        fill-opacity: 0;
    }
} 

.footer__part.footer__bottom{
    display:flex;
    justify-content: space-between;
    align-items:center;

    @include tablets{
        justify-content: space-around;
    }
}

.footer__text{
    flex-basis: 500px;

    @include tablets{
        flex-basis: auto;
        text-align: center;
    }

    p{
        color: rgba(white, .5);
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: 300;
    }
}

.footer__text_right{
    text-align: right;

    @include tablets{
        text-align: center;
    }

}
