.fullscreen-menu{
    background-color: rgba($color-green, .9);
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index:10;
    @include dis-fle-cen;
}

.fullscreen-menu__list{
    text-align:center;
    @include font-h2;
    font-size:49px;
}

.fullscreen-menu__item{
    margin-bottom: 40px;
}

.fullscreen-menu__link{
    color: white;
    position: relative;

    &:before{
        position: absolute;
        content:'';
        display: block;
        width:22px;
        height: 5px;
        background-color: rgba(white, .8);
        top:50%;
        transform: translateY(-50%);
        left: -30px;
        opacity: 0;
    }

    &:after{
        position: absolute;
        content:'';
        display: block;
        width:22px;
        height: 5px;
        background-color: rgba(white, .8);
        top:50%;
        transform: translateY(-50%);
        right: -30px;
        opacity: 0;
    }

    &:hover{
        &:before, &:after{
            transition: opacity .5s;
            opacity:1;
        }
    }
}