.index-parallax{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    overflow:hidden;
    background-color:#d2d5ce;

}

.index-parallax__layer{
    height:100%;
    width: 100%;
    position:absolute;
    bottom:0;
    left:0;    
}

// @for $i from 0 through 9{
//     .index-parallax__layer_#{$i}{
//         background-image: url(../images/index-parallax/pl-#{$i}.png);
//         background-position: left bottom;
//         background-repeat: no-repeat;
//         background-size: contain;
//     }
// }

.index-parallax__img{
    position: absolute;
    left:50%;
    bottom:-30%;
    transform: translateX(-50%);
    // @include abs-center;
}

.index-parallax__img_0{
    bottom:auto;
    top:0;
}

.index-parallax__img_1{
    bottom:-27%;
}

.index-parallax__img_3{
    bottom:-28%;
    left:45%;
}

.index-parallax__img_4{
    left:45%;
}

.index-parallax__img_5{
    left:40%;
}

.index-parallax__img_6{
    left:60%;
}