.index-parallax{
    @include bg-image('../images/bg-index/bg-1200.jpg');
    position: absolute;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    overflow:hidden;
    background-color:#d2d5ce;
    z-index: -1;
}

.index-parallax__layer{
    height:calc(1500*1px);
    width: calc(2200*1px);
    @include abs-center;

    @include b-desktop{
        width:1600px;
        height:1200px;
    }

    @include desktop{
        width:1400px;
        height:1000px;
    }

    @include tablets{
        display:none;
    }
}

.index-parallax__img{
    position: absolute;
    left:0;
    bottom:0;
    will-change: transform;

    @include b-desktop{
        width:1600px;
    }

    @include desktop{
        width:1400px;
    }
}

.index-parallax__img_0{
    bottom:auto;
    top:0;
}

.index-parallax__img_6{
    left: auto;
    right: -20px;
}