.message{
  background-color: $color-green;
}

.message__frame{
  background-color: white;
  width:280px;
  min-height:110px;
  border-radius: 5px;
  @include abs-center;
  @include dis-fle-col-around;
  padding: 10px;
}

.message__text{
  @include font-reg;
  margin-bottom: 10px;
}


.message__btn{
  @include font-reg;
  color:white;
  background-color: $color-green;
  border:0;
  width: 105px;
  height:40px;
  border-radius: 5px;
  cursor: pointer;

  &:active{
    outline: none;
  }
}