.person-card{
    @include dis-fle-cen;
    flex-flow: column;
    text-align:center;
}

.person-card__avatar{
    width: 141px;
    height: 141px;
    border-radius:50%;
    background-position:center;
    background-size:cover;
    margin-bottom: 30px;
}

.person-card__name{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: white;
    font-size:35px;
    margin-bottom: 7px;
}

.person-card__blog{
    @include font-h1;
    color: white;

    &:before{
        background-color:rgba(white, .2);
    }

    &:after{
        background-color:rgba(white, .2);
    }
}

.person-card__text{
    font-family: 'roboto';
    font-weight: lighter;
    color: rgba(white, .8);
    font-size:16px;
}

.blog .person-card__text{
    font-weight:400;
}