.header__socials.socials{
    display:flex;
}

.socials__item{
    margin-left: 30px;
}

.socials__link{
    display: block;
}

.socials__img{
    width: 31px;
    height: 22px;
    fill: white;
    fill-opacity: .5;

    &:hover {
        fill-opacity: 1;
    }
}