.blog-section{
    display:flex;
    justify-content: space-around;
    padding: 70px 5px 0 5px;
    color: $color-text-gray;
}

.blog-section__left{
    flex-basis:310px;
    text-align: right;

    @include tablets{
        display:none;
    }
}

.blog-section__right{
    flex-basis:680px;
}