.blog-section{
    display:flex;
    justify-content: space-around;
    padding-top: 70px;
}

.blog-section__left{
    flex-basis:310px;
    text-align: right;
}

.blog-section__right{
    flex-basis:680px;
}