.aboute-me{
    display:flex;
    flex-flow: column;
    justify-content: space-around;
    align-items:center;

    
    @include tv{
        flex-flow: row;
        align-items:flex-start;
    }
}


.about-me__title{
    text-transform: uppercase;
    font-family: 'bernier_regular';
    font-size:63px;
    color:$color-gray-dark;
    position:relative;
    text-align: center;

    @include tv{
        flex: 1;
        
    }
}

.aboute-me__right{
    display:flex;
    flex-flow: column;
    justify-content: space-around;
    align-items:center;
    flex:1;
    height:100%;
}

.about-me__title-img{
    position: absolute;
    left: 50%;
    top:25%;
    transform: translate(-50%, -50%);
    fill-opacity: .1;
    width: 357px;
    height:125px;
}

.about-me__subtitle{
    text-transform: uppercase;
    font-family: 'bernier_regular';
    font-size:35px;
    color:$color-gray;
}

.aboute-me__avatar{
    width:443px;
    height: 391px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    @include tablets{
        max-width:100%;
        width:470px;
        height: 415px;
    }

}

.about-me__text{
    width:calc(100/600*443%);

    @include tv{
        width:443px;
    }

    @include tablets{
        width: 470px;
    }

    @include phones{
        width:85%;
    }
}

