.first-section{
    background-image: url('../images/bg-top/bg-1800.jpg');
    background-position: center top;
    background-size: cover;
    display:flex;
    flex-flow:column;
    justify-content: space-between;
}

.first-section__header{
    height: 32*2+22px;
    display:flex;
    justify-content: space-between;
}

.first-section__angles{
    height: 160px;
    display:flex;
}

.first-section__angle-block{
    width:50%;
    height:100%;    

    &_left{
        background-color:$color-left-side;
        clip-path: polygon(0 0, 0 100%, 100% 100%);
    }

    &_right{
        background-color:$color-right-side;
        clip-path: polygon(100% 0, 0 100%, 100% 100%);
    }
}

.first-section__title{
    text-align:center;
}

.first-section__title-img{
    width: 1175px;
    height: 313px;
    fill: white;
    fill-opacity: .06;
}

.first-section__arrow{
    position:absolute;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    bottom:70px;
}

.first-section__arrow-img{
    width:26px;
    height:16px;
    fill:white;
    fill-opacity: .7;
}

.first-section__person-card{
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
}