.about-last-section{
    @include bg-image('../images/bg-map/map.jpg');
}

.about-last-section__map{
    height:100vh;
}

.about-last-section__contacts{
    max-width: 380px;
    min-height: 290px;
    
    background-color: rgba(white, .8);
    border-radius: 7px;
    @include abs-center;
    @include dis-fle-col-around;
    padding: 35px 40px;
}

.about-last-section__contacts-title{
    @include font-h2;
    margin-bottom: 45px;
}