.my-benefits{
    padding-left:calc(100/600*15%);
    padding-right:calc(100/600*10%);
    display:flex;
    flex-flow: column;
    justify-content: space-around;
    align-items:center;

    @include tv{
        padding-left:calc(100/600*40%);
    }

    @include a-desktop{
        padding-left:5px;
    }
}

.my-benefits__title{
    text-transform: uppercase;
    font-family: 'bernier_regular';
    font-size:35px;
    line-height:41px;
    width:230px;
    color:$color-gray;
    text-align:center;
}

.my-benefits__text{
    @include tablets{
        width: 470px;
        text-align: justify;
    }
}

.my-benefits__charts{
    align-self: flex-start;
    width:100%;

    @include tablets{
        text-align: center;
    }
}

.my-benefits__direction{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 28px;
    width:100%;
    margin-bottom:30px;    
}

.my-benefits__technologies{
    display:flex;
    justify-content: flex-start;
    flex-wrap:wrap;
    width:100%;
    margin-top: 18px;

    @include tablets{
        justify-content: center;
    }

    @include b-phones{
        justify-content: space-around;
    }
}

.my-benefits__technology{
    position:relative;
    width:110px;
    height:110px;
    margin-right: 35px;
    margin-bottom: 10px;
    flex-shrink:0;    

}

.my-benefits__progress{
    position: absolute;
    top:0;
    left:0;
    width:0px;
    height:0px;
    border-radius:50%;
    border-right: 55px solid transparent;
    border-bottom: 55px solid transparent;
    transform: rotate(-45deg);


    &_empty-left{
        border-top:55px solid #dfdcd5;
        border-left:55px solid #dfdcd5;
    }

    &_empty-right{
        border:55px solid transparent;
        border:55px solid transparent;
        border-bottom:55px solid #dfdcd5;
        border-right:55px solid #dfdcd5;
    }

    &_filled{
        border-top:55px solid $color-green;
        border-left:55px solid $color-green;
        transition: 3s ease-in;
    }

    @for $i from 1 through 100{        
        &_#{$i} {transform: rotate((3.6*$i - 45deg));}
    }
    
}





.my-benefits__tech-name{
    @include abs-center;
    @include dis-fle-cen;
    border-radius:50%;    
    width:70px;
    height:70px;
    background-color: #eeebdf;    
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 13px;  
    color: $color-green;

    &:last-child{
        margin-right:0;
    }

    @include b-phones{
        margin-right:0;        
    }
}



