.about-second-section{
    display:flex;
    color: $color-text-gray;

    &__left{
        width:50%;
        background-color:$color-left-side;
    }

    &__right{
        width:50%;
        background-color:$color-right-side;
    }
}

.about-second-section p{
    font-family: 'Roboto', sans-serif;
    font-size:16px;
    line-height:24px;
    color:$color-text-gray;
    margin: 10px 0;
}