.works-last-section{
    display:flex;
    flex-flow:column;
    justify-content: space-around;
    align-items: center;
}


.works-last-section__title{
    @include font-h1;
    @include dis-fle-cen;
    height:250px;

    @include phones{
        text-align: center;
        margin-bottom:30px;
    }
}

.works-last-section__title-bg{
    position: absolute;
    @include abs-center;
    fill-opacity: .06;
    width: 502px;
    height:169px;
}

.works-last-section__form{
    margin-bottom: 70px;
}

.works-last-section__arrow-img{
    width:26px;
    height:18px;
    fill-opacity: .7;
    fill:white;
    margin-bottom: 215px;

    &:hover{
        fill-opacity: 1;
    }

    @include tablets{
        margin-bottom: 285px;
    }
}