.projects{
}

.projects__item{
    display:flex;
    align-items: stretch;
}

.projects__description{
    width:50%;
    background-color: #f0efe9;
}

.projects__slider{
    width:50%;
    background-color: #efebe0;
    overflow: hidden;
}

.project-description{
    padding: 0 90px; 
    text-align: center;
    @include dis-fle-cen;
    flex-flow:column;
    overflow:hidden;
}

.project-description__title{
    @include font-h2;
}

.project-description__technologies{
    min-height:53px;
    @include dis-fle-cen;
    color:$color-text-green;
    border-top: 1px solid $color-text-green;
    border-bottom: 1px solid $color-text-green;
    align-self: stretch;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500; 
    text-transform: uppercase;
    margin: 40px 0;
}

.project-description__link{
    display: inline-block;
    text-decoration: none;
    color:white;
    padding: 20px 38px 20px 49px;
    background-color: $color-text-green;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    position:relative;

    &:hover{
        background-color: darken($color-text-green, 5%);
    }
}

.project-description__link-icon{
    position: absolute;
    top:18px;
    left:18px;
    width:20px;
    height:20px;
}

.project-slider__picture{
    width: 450px;
    height:305px;
    margin: 114px 0;
}

.project-slider{
    @include dis-fle-cen;
    flex-flow: column;
}

.project-slider__controls{
    display: flex;
    width:100%;
}

.project-slider__button{
    width:50%;
    height:227px;
    display:block;
    position: relative;
}

.project-slider__prev{
    background-color: #d6d6d6;
}


.project-slider__next{
    background-color: #d2d2d2;
}


.project-slider__filter{
    position: absolute;
    top:0;
    right:0;
    bottom:0;
    left:0;

    transition: .3s;
    &:hover{
        background-color: transparent;
    }
}

.project-slider__filter_prev{
    background-color: rgba(#b6b4ae, .5);
}

.project-slider__filter_next{
    background-color: rgba(#888372, .5);
}

.project-slider__img{
    height:227px;
}

.project-slider__button-arrow{
    width:43px;
    height:27px;
    @include abs-center;
    filter: drop-shadow(0px 0px 5px rgba(0,0,0,.7));
}