.projects{
    flex:1;
}

.projects__item{
    display:flex;
    align-items: stretch;
}

.projects__left{
    width:50%;
    background-color: #f0efe9;
}

.projects__right{
    width:50%;
    background-color: #efebe0;
    overflow: hidden;

    
    @include tablets{
        width:100%;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
    }
}