.reviews{
    display:flex;
    justify-content: center;

    @include phones{
        width:100vw;
        flex-flow:column;
        align-items: center;
    }
}

.reviews__item{
    width:367px;
    max-width:50%;
    margin: 0 18px;

    @include phones{
        max-width:100%;
        margin-bottom: 30px;
    }

    &:last-child{
        @include phones{
            margin-bottom:0;
        }
    }

    p{
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        color:$color-text-gray;
        line-height: 26px;
    }

    i{
        color: rgba(#000, .2);
        margin-bottom:29px;

        @include phones{
            margin-bottom:19px;
            
        }
    }
}

.review-user{
    margin-top: 30px;
    display:flex;
}

.review-user__avatar{
    width:80px;
    height:80px;
    border-radius: 50%;
    margin-right:25px;
}

.review-user__about{
    display:flex;
    flex-flow: column;
    color: $color-text-green;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    justify-content: center;
}

.review-user__name{
    line-height: 24px;
    font-weight: 700;
}
